In [ ]:
for i in range (1, 11):
  print ('3 x {} = {}'.format(i,3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
i = 2
f'3 x {i} = {3*i} '

'3 x 2 = 6 '

In [ ]:
numero = 1
while numero <= 10:
    print('3 x {} = {}'.format(numero, 3 * numero))
    numero += 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tuplas

In [ ]:
tupla = ('Homo sapiens', 'Canis familiars', 'Felis catus')

In [ ]:
tupla

('Homo sapiens', 'Canis familiars', 'Felis catus')

In [ ]:
tupla [1]

'Canis familiars'

In [ ]:
tupla.index('Canis familiars')

1

In [ ]:
for elemento in tupla:
  print(elemento)

Homo sapiens
Canis familiars
Felis catus

Listas

In [ ]:
teste1 = ['Homo sapiens', ' Canis familiaris', 'Felis catus']
teste2 = ['Xenopus laveis', 'Ailuropoda melanoleuca']

In [ ]:
teste3 = teste1 + teste2
print(teste3)

['Homo sapiens', ' Canis familiaris', 'Felis catus', 'Xenopus laveis', 'Ailuropoda melanoleuca']

In [ ]:
teste2

['Xenopus laveis', 'Ailuropoda melanoleuca']

In [ ]:
teste4 = teste1 * 2
print (teste4)

['Homo sapiens', ' Canis familiaris', 'Felis catus', 'Homo sapiens', ' Canis familiaris', 'Felis catus']

In [ ]:
teste1[0]

'Homo sapiens'

In [ ]:
teste1[0:2]

['Homo sapiens', ' Canis familiaris']

In [ ]:
teste1.append('Cat kitten')
print (teste1)

['Homo sapiens', ' Canis familiaris', 'Felis catus', 'Cat kitten']

In [ ]:
teste1.remove('Homo sapiens')
print(teste1)

[' Canis familiaris', 'Felis catus', 'Cat kitten']

In [ ]:
del (teste1)

In [ ]:
for item in teste3:
  print(item)

Homo sapiens
 Canis familiaris
Felis catus
Xenopus laveis
Ailuropoda melanoleuca

Dicionários

In [ ]:
coleta = {'Aedes aegypt' : 32, 'Aedes albopictus': 22, 'Anopheles darlingi': 14}

In [ ]:
coleta ['Aedes aegypt']

32

In [ ]:
coleta ['Rhodnius montenegrensis'] = 11

In [ ]:
print (coleta)

{'Aedes aegypt': 32, 'Aedes albopictus': 22, 'Anopheles darlingi': 14, 'Rhodnius montenegrensis': 11}

In [ ]:
del (coleta) ['Aedes albopictus']
print(coleta)

{'Aedes aegypt': 32, 'Anopheles darlingi': 14, 'Rhodnius montenegrensis': 11}

In [ ]:
coleta.items()

dict_items([('Aedes aegypt', 32), ('Anopheles darlingi', 14), ('Rhodnius montenegrensis', 11)])

In [ ]:
coleta.keys()

dict_keys(['Aedes aegypt', 'Anopheles darlingi', 'Rhodnius montenegrensis'])

In [ ]:
coleta.values()

dict_values([32, 14, 11])

In [ ]:
coleta2 = {'Anopheles gambiae' : 13, 'Anopheles deaneorum' : 14}
print (coleta2)

{'Anopheles gambiae': 13, 'Anopheles deaneorum': 14}

In [ ]:
coleta.update(coleta2)
print(coleta)

{'Aedes aegypt': 32, 'Aedes albopictus': 22, 'Anopheles darlingi': 14, 'Anopheles gambiae': 13, 'Anopheles deaneorum': 14}

In [ ]:
coleta.items()

dict_items([('Aedes aegypt', 32), ('Aedes albopictus', 22), ('Anopheles darlingi', 14), ('Anopheles gambiae', 13), ('Anopheles deaneorum', 14)])

In [ ]:
for especie, num_especimes in coleta.items():
  print (f'Espécie: {especie}, número de espécies coletados: {num_especimes}')

Espécie: Aedes aegypt, número de espécies coletados: 32
Espécie: Aedes albopictus, número de espécies coletados: 22
Espécie: Anopheles darlingi, número de espécies coletados: 14
Espécie: Anopheles gambiae, número de espécies coletados: 13
Espécie: Anopheles deaneorum, número de espécies coletados: 14

Conjuntos (SET)

In [ ]:
biomoleculas = ( ' proteína','ácidos nucelicos', 'carboidrato', 'lipídeo', 'ácidos nucelicos', 'carboidrato', 'carboidrato', 'carboidrato')

In [ ]:
print(biomoleculas)

(' proteína', 'ácidos nucelicos', 'carboidrato', 'lipídeo', 'ácidos nucelicos', 'carboidrato', 'carboidrato', 'carboidrato')

In [ ]:
print(set(biomoleculas))

{'carboidrato', 'lipídeo', ' proteína', 'ácidos nucelicos'}

In [ ]:
c1 = {1,2,3,4,5}
c2 = {3,4,5,6,7}
c3 = c1.intersection(c2)

In [ ]:
print (c3)

{3, 4, 5}

In [ ]:
c1.difference(c2)

{1, 2}

In [ ]:
c2.difference(c1)

{6, 7}

Matrizes

In [ ]:
import numpy as np

In [ ]:
matriz = np.array([[2,3,1], [4, 5, 7]])

In [ ]:
matriz

array([[2, 3, 1],
       [4, 5, 7]])

In [ ]:
matriz.shape

(2, 3)

In [ ]:
matriz[0]

array([2, 3, 1])

In [ ]:
matriz[1]

array([4, 5, 7])

In [ ]:
matriz[0][0]

2

In [ ]:
for i in range(matriz.shape[0]):
  print (matriz[i])
  for j in range(matriz.shape[1]):
    print (matriz[i][j])

[2 3 1]
2
3
1
[4 5 7]
4
5
7

Funções com parâmetro

In [ ]:
def mensagem():
  print('texto da função')

In [ ]:
mensagem()
mensagem()
mensagem()

texto da função
texto da função
texto da função

Função com passagem de parâmetro

In [ ]:
def mensagem(texto):
  print(texto)

In [ ]:
mensagem('texto 1')
mensagem('texto 2')
mensagem('texto 3')

texto 1
texto 2
texto 3

In [ ]:
def soma(a, b):
  print(a + b)

In [ ]:
soma(2, 3)

5

In [ ]:
soma(3, 3)
soma (1, 2)

6
3

Função com passagem de parâmetro e retorno

In [ ]:
def soma (a, b):
  return a + b

In [ ]:
soma (3, 2)

5

In [ ]:
#r = 7
r = soma(3, 2)
print (r)

5
None

In [ ]:
def calcula_energia_potencial_gravitacional(m, h, g = 10):
  ''''
  essa função calcula...
  ''''
  e = g* m * h
  return e

In [ ]:
calcula_energia_potencial_gravitacional(30, 12)

3600

In [ ]:
calcula_energia_potencial_gravitacional(30, 12, 9.8)

3528.0

In [ ]:
help(calcula_energia_potencial_gravitacional)

Help on function calcula_energia_potencial_gravitacional in module __main__:

calcula_energia_potencial_gravitacional(m, h, g=10)

Módulos úteis - Math e datetime

Exercicio 1

In [ ]:
lista = []
for i in [1, 2, 3, 4, 5]:
  x = input()
  x = int(x)
  lista.append(x)
print (lista)

15
14
13
6
8
[15, 14, 13, 6, 8]

In [ ]:
soma = 0
for x in lista:
  soma = soma+x
  print(x,soma)

15 15
14 29
13 42
6 48
8 56

In [ ]:
dicionario = {}
for i in [1, 2, 3, 4, 5]:
  nome= input()
  nota = int(input())
  dicionario[nome] = nota
print (dicionario)

joao
14
maria
17
vinicius
45
vitoria
12
gabi
9
{'joao': 14, 'maria': 17, 'vinicius': 45, 'vitoria ': 12, 'gabi': 9}

In [ ]:
soma_notas = 0
for nota in dicionario.values():
    soma_notas += nota

media = soma_notas / len(dicionario)

print("Nota dos alunos", dicionario)
print("Média das notas:", media)

Nota dos alunos {'joao': 14, 'maria': 17, 'vinicius': 45, 'vitoria ': 12, 'gabi': 9}
Média das notas: 19.4

AULA LÓGICA DE PROGRAMAÇÃO

In [ ]:
print('Digite o valor1: ')
valor1 = float(input())
print('Digite o valor2: ')
valor2 = float(input())

#print(valor1, valor2)

soma = valor1 + valor2
subtracao = valor1 - valor2
multiplicacao = valor1 * valor2
divisao = valor1 / valor2

print('Soma: ', soma)
print('Subtração ',subtracao)
print('Multiplicação ', multiplicacao)
print('Divisão ', divisao)

Digite o valor1:
45
Digite o valor2:
863
Soma:  908.0
Subtração  -818.0
Multiplicação  38835.0
Divisão  0.05214368482039398

Exercicio 1

In [ ]:
C= float(input("Insira o grau da temperatura: "))

print (C)

F = 9 * C + 160 / 5

print(" O valor da temperatura convertida é ", F)

Insira o grau da temperatura: 45
45.0
 O valor da temperatura convertida é  437.0

Exerc 2

In [ ]:
comprimento = float(input("Insira o valor do comprimento:"))

largura = float(input("Insira o valor da largura:"))

altura = float(input("Insira o valor da altura: "))

volume = comprimento * largura * altura

print("O valor do volume da caixa é: ", volume )

Insira o valor do comprimento:56
Insira o valor da largura:89
Insira o valor da altura: 12
O valor do volume da caixa é:  59808.0

Exerc 3

In [ ]:
base= int(input("Insira o valor da base: "))
altura = int(input("Insitura o valor da altura: "))

area = (base * altura / 2)

print("O valor da base e altura é: ", area)

Insira o valor da base: 13
Insitura o valor da altura: 15
O valor da base e altura é:  97.5

exerc 4

In [ ]:
numero_total_de_presta = int(input("Insira o número total de prestações: "))
numero_de_presta_pagas = int(input("Insira o número total de prestações pagas: "))
valor_de_presta = float(input("Insira o valor de cada prestação: "))

conta = valor_de_presta * numero_total_de_presta - numero_de_presta_pagas * valor_de_presta

print("Seu saldo está em: ", conta)

Insira o número total de prestações: 10
Insira o número total de prestações pagas: 5
Insira o valor de cada prestação: 50.99
Seu saldo está em:  254.95000000000002

Exerc 5

In [ ]:
tempo = int(input("insira o tempo gasto na viagem: "))
velocidade = int(input("Insira a velocidade gasta na viagem: "))

distancia = tempo * velocidade

litros_usados = distancia / 12

print("A quantiade de litros de combustível gasto é de: ", litros_usados)

insira o tempo gasto na viagem: 50
Insira a velocidade gasta na viagem: 40
A quantiade de litros de combustível gasto é de:  166.66666666666666

Exercicios estruturas condicionais

In [ ]:
print("Digite a nota m1: ")
m1 = float(input())

print("Digite a nota m2: ")
m2 = float(input())

print("Digite a nota m3: ")
m3 = float(input())

media = (m1 + m2 + m3)/ 3
print("Média: ", media)

if media >= 6:
  print("Aluno aprovado")

elif media < 4:
  print("Aluno reprovado")

elif media >= 4 and media < 6:
  print("Aluno pegou exame")
  print("Digite a nota do exame: ")
  exame = float(input())
  if exame >= 6:
    print("Aluno aprovado no exame")

else:
  print("Aluno reprovado no exame")

Digite a nota m1:
3
Digite a nota m2:
3
Digite a nota m3:
3
Média:  3.0
Aluno reprovado

Exercicio 1

In [ ]:
num1 = int(input("Insira o número: "))

if num1 > 1:
  print ("o numero é positivo")

else:
  print("O número é negativo")

Insira o número: 0
O número é negativo

Exercicio 2

In [ ]:
num1 = int(input("Insira o primeiro numero: "))
num2 = int(input("Insira o segundo número: "))

if num1 > num2:
  print("o primeiro número é maior")

elif num1 < num2:
  print("o segundo número é maior")

elif num1 == num2:
    print("os números são iguais")

Insira o primeiro numero: 5
Insira o segundo número: 5
os números são iguais

Exercicio 3

In [ ]:
idade = int(input("Insira a idade: "))

if idade <= 12:
  print("idade de criança")

elif idade > 12 and idade <= 17:
  print ("idade de adolescente")
elif idade >= 18:
  print("Idade de adulto")

Insira a idade: 18
Idade de adulto

Exercicio 4

In [ ]:
print('Digite o primeiro valor: ')
valor1 = float(input())
print('Digite o segundo valor: ')
valor2 = float(input())
print('Digite a operação: ')
operacao = input()

resultado = 0
if operacao == '+':
  resultado = valor1 + valor2
elif  operacao == '-':
  resultado = valor1 - valor2
elif operacao == '*':
  resultado = valor1 * valor2
elif operacao == '/':
  resultado = valor1 / valor2
else:
  print('Operação inválida')

print('Resultado: ', resultado)

Digite o primeiro valor:
15
Digite o segundo valor:
28
Digite a operação:
-
Resultado:  -13.0

Exercicio 5

In [ ]:
valor = int(input("Insira o valor: "))

if (valor >= 1 and  valor <= 9):
  print("O valor está na faixa permitida.")

elif (valor < 1 and valor > 9):
  print("O valor está fora da faixa permitida")

Insira o valor: 12

Exercicios python.zumbi

In [ ]:
valor1 = int(input("Insira o primeiro número: "))
valor2 = int(input("Insira o segundo número: "))

resultado = valor1 + valor2
print (resultado)

Insira o primeiro número: 34
Insira o segundo número: 56
90

In [ ]:
comprimento = float(input("Insira o valor do comprimento: "))

resultado = comprimento/1000
print(resultado)

Insira o valor do comprimento: 45
0.045

In [ ]:
dias = int(input("Dias: "))
horas = int(input("Horas: "))
minutos = int(input("Minutos: "))
segundos = int(input("Segundos: "))

total_em_segundos = dias * 24 * 3600 + horas * 3600 + minutos * 60 + segundos
print("Convertido em segundos é igual a %10d segundos." % total_em_segundos)

Dias: 34
Horas: 90
Minutos: 78
Segundos: 678
Convertido em segundos é igual a    3266958 segundos.

In [ ]:
i = 1

while i < 10:
  print(i)
  i += 1


print("Terminou")
print(i)

1
2
3
4
5
6
7
8
9
Terminou
10

In [ ]:
criancas = ["davi", "manuela", "larissa"]

for exemplo in criancas:
  print(exemplo)

davi
manuela
larissa

In [ ]:
matrix_numeros = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0],
]

for linha in matrix_numeros:
  print("----")
  for coluna in linha:
    print(coluna)

----
1
2
3
----
4
5
6
----
7
8
9
----
0

exer. contador

In [ ]:
contador = 15


while contador <=200:
  quadrado = contador * contador
  print("\n", quadrado)
  contador = contador + 1

 225

 256

 289

 324

 361

 400

 441

 484

 529

 576

 625

 676

 729

 784

 841

 900

 961

 1024

 1089

 1156

 1225

 1296

 1369

 1444

 1521

 1600

 1681

 1764

 1849

 1936

 2025

 2116

 2209

 2304

 2401

 2500

 2601

 2704

 2809

 2916

 3025

 3136

 3249

 3364

 3481

 3600

 3721

 3844

 3969

 4096

 4225

 4356

 4489

 4624

 4761

 4900

 5041

 5184

 5329

 5476

 5625

 5776

 5929

 6084

 6241

 6400

 6561

 6724

 6889

 7056

 7225

 7396

 7569

 7744

 7921

 8100

 8281

 8464

 8649

 8836

 9025

 9216

 9409

 9604

 9801

 10000

 10201

 10404

 10609

 10816

 11025

 11236

 11449

 11664

 11881

 12100

 12321

 12544

 12769

 12996

 13225

 13456

 13689

 13924

 14161

 14400

 14641

 14884

 15129

 15376

 15625

 15876

 16129

 16384

 16641

 16900

 17161

 17424

 17689

 17956

 18225

 18496

 18769

 19044

 19321

 19600

 19881

 20164

 20449

 20736

 21025

 21316

 21609

 21904

 22201

 22500

 22801

 23104

 23409

 23716

 24025

 24336

 24649

 24964

 25281

 25600

 25921

 26244

 26569

 26896

 27225

 27556

 27889

 28224

 28561

 28900

 29241

 29584

 29929

 30276

 30625

 30976

 31329

 31684

 32041

 32400

 32761

 33124

 33489

 33856

 34225

 34596

 34969

 35344

 35721

 36100

 36481

 36864

 37249

 37636

 38025

 38416

 38809

 39204

 39601

 40000

Acumulador

In [ ]:
contador = 1
soma = 0

while (contador <= 100):
  soma = soma + contador
  print("\n", soma)

  contador = contador + 1

print("Soma dos 100 primeiros números: ", soma)

 1

 3

 6

 10

 15

 21

 28

 36

 45

 55

 66

 78

 91

 105

 120

 136

 153

 171

 190

 210

 231

 253

 276

 300

 325

 351

 378

 406

 435

 465

 496

 528

 561

 595

 630

 666

 703

 741

 780

 820

 861

 903

 946

 990

 1035

 1081

 1128

 1176

 1225

 1275

 1326

 1378

 1431

 1485

 1540

 1596

 1653

 1711

 1770

 1830

 1891

 1953

 2016

 2080

 2145

 2211

 2278

 2346

 2415

 2485

 2556

 2628

 2701

 2775

 2850

 2926

 3003

 3081

 3160

 3240

 3321

 3403

 3486

 3570

 3655

 3741

 3828

 3916

 4005

 4095

 4186

 4278

 4371

 4465

 4560

 4656

 4753

 4851

 4950

 5050
Soma dos 100 primeiros números:  5050

In [ ]:
contador = 1
negativos = 0

while contador <= 5:
  print("Digite um valor: ")
  a = float(input())
  if a < 0:
    negativos += 1
  contador += 1


print("quantidade de números negativos: ", negativos)

Digite um valor:
45
Digite um valor:
64
Digite um valor:
89
Digite um valor:
456
Digite um valor:
46
quantidade de números negativos:  0

Contador 2

In [ ]:
contador = 1
negativos = 0

while contador <= 5:
  A = float(input("Digite o valor de A: "))
  if A < 0:
    negativos = negativos + 1
 contador +=1

print("Número de valores negativos: ", negativos)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

validador

In [ ]:
nota1 = 12

while nota1 > 10 or nota1 < 0:
  print("Digite a primeira nota: ")
  nota1 = float(input())

nota2 = -1

while nota2 > 10 or nota2 < 0:
  print("Digite a nota2: ")
  nota2 = float(input())

media = (nota1 + nota2)/ 2

print("Média: ", media)

Digite a primeira nota:
-3
Digite a primeira nota:
15
Digite a primeira nota:
9
Digite a nota2:
-2
Digite a nota2:
10
Média:  9.5

In [ ]:

nota1 = -3
nota2 = 12

while (nota1 > 10 or nota1 < 0):
  int(nota1= -1.0(input("Digite a nota1: ")))

while (nota2 > 10 or nota < 0):
  nota2== input("Digite a nota2: ")

media = (nota1 + nota2) / 2
print("média: ", media)

<>:5: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
<>:5: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
<ipython-input-9-b39f6c7587ac>:5: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  int(nota1= -1.0(input("Digite a nota1: ")))

KeyboardInterrupt: Interrupted by user

usuário

In [ ]:
continua = 's'
while continua == 's':

  print("Digite o comprimento: ")
  comprimento = float(input())
  print("Digite a largura: ")
  largura = float(input())
  print("Digite a altura: ")
  altura = float(input())


  volume = comprimento * largura * altura

  print("Volume: ", volume)

  print("Deseja ler mais valores? (s/n)): ")
  continua = input()

Digite o comprimento:
5
Digite a largura:
5
Digite a altura:
5
Volume:  125.0
Deseja ler mais valores? (s/n)):
s
Digite o comprimento:
5
Digite a largura:
2
Digite a altura:
4
Volume:  40.0
Deseja ler mais valores? (s/n)):
n

In [ ]:
continua = "s"

while (continua == "s"):
  comprimento = input("Insira o valor do comprimento: ")
  largura = input("Digite o valor da largura: ")
  altura = input("Digite o valor da altura: ")

volume = comprimento * largura * altura

print("O valor do volume é: ", volume)

input("\nDeseja continuar a leitura? ")

Insira o valor do comprimento: 54
Digite o valor da largura: 564
Digite o valor da altura: 54
Insira o valor do comprimento: 554

KeyboardInterrupt: Interrupted by user

exemplo 1 python contador

In [ ]:
contador = 1
while contador <= 5:
  print("mensagem", contador)
  contador = contador + 1

mensagem 1
mensagem 2
mensagem 3
mensagem 4
mensagem 5

exemplo python 2 - acumulador

In [ ]:
contador = 1
nota = 0
soma = 0
media = 0
while contador <= 5:
  print("Digite a nota ", contador)
  nota = float(input())
  soma = soma + nota
  contador += 1

print("Soma: ", soma)
media = soma / 5
print("média: ", media)

Digite a nota  1
25
Digite a nota  2
644
Digite a nota  3
54
Digite a nota  4
78
Digite a nota  5
54
Soma:  855.0
média:  171.0

validador de notas

In [ ]:
nota = float(input("Digite a nota: "))

while nota > 10 or nota < 0:
  print("Digite a nota: ")
  nota = float(input())

Digite a nota: 45
Digite a nota:
78
Digite a nota:
24
Digite a nota:
46
Digite a nota:
5

ex usuário

In [ ]:
nota = 0
continua = 's'
while continua == 's':
  print("Digite a nota: ")
  nota = float(input())
  print("Deseja continuar a leitura das notas (s/n)?")
  continua = input()

Digite a nota:
45
Deseja continuar a leitura das notas (s/n)?
s
Digite a nota:
665
Deseja continuar a leitura das notas (s/n)?
n

For no python

In [ ]:
for contador in range(1, 6):
  print("mensagem ", contador)

mensagem  1
mensagem  2
mensagem  3
mensagem  4
mensagem  5

In [ ]:
for contador in range(5, 0, -1):
  print("mensagem ", contador)

mensagem  5
mensagem  4
mensagem  3
mensagem  2
mensagem  1

In [ ]:
soma = 0.0
media = 0.0
for contador in range(1, 6):
  print("Digite a nota ", contador)
  nota = float(input())
  soma += nota
media = soma / 5
print("média: ", media)

Digite a nota  1
45
Digite a nota  2
56
Digite a nota  3
68
Digite a nota  4
90
Digite a nota  5
87
média:  69.2

Exerc1 contador

In [ ]:
for contador in range(15, 200):
  quadrado = contador * contador
  print(quadrado)

225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801
10000
10201
10404
10609
10816
11025
11236
11449
11664
11881
12100
12321
12544
12769
12996
13225
13456
13689
13924
14161
14400
14641
14884
15129
15376
15625
15876
16129
16384
16641
16900
17161
17424
17689
17956
18225
18496
18769
19044
19321
19600
19881
20164
20449
20736
21025
21316
21609
21904
22201
22500
22801
23104
23409
23716
24025
24336
24649
24964
25281
25600
25921
26244
26569
26896
27225
27556
27889
28224
28561
28900
29241
29584
29929
30276
30625
30976
31329
31684
32041
32400
32761
33124
33489
33856
34225
34596
34969
35344
35721
36100
36481
36864
37249
37636
38025
38416
38809
39204
39601

exerc2

In [ ]:
soma = 0
for contador in range(1, 101):
  soma += contador
print("Soma dos 100 primeiros números inteiros", soma)

Soma dos 100 primeiros números inteiros 5050

exer 3

In [ ]:
negativos = 0
for contador in range (1, 6):
  print("Digite o valor ", contador)
  valor = float(input())
  if valor < 0:
    negativos += 1
print("quantidade de números negativos: ", negativos)

Digite o valor  1
2
Digite o valor  2
3
Digite o valor  3
-5
Digite o valor  4
-8
Digite o valor  5
10
quantidade de números negativos:  2

Exercicios com if, else e elif

In [ ]:
idade = int(input("Digite o valor da sua idade: "))

if idade >=16:
  print("Você já pode votar")
elif idade < 16:
  print("Ainda não é permitido votar")

Digite o valor da sua idade: 16
Você já pode votar

In [ ]:
numero = float(input("Digite o número que desejas: "))

if numero < 0:
  print("O número é negativo")
elif numero > 0:
  print("O número é positivo")
elif numero == 0:
  print("O numero é zero")

Digite o número que desejas: 0
O numero é zero

In [ ]:
num1 = float(input("Digite o primeiro número: "))
num2 = float(input("Digite o segundo número: "))
num3 = float(input("Digite o terceiro número: "))

if num1 > num2 and num1 >= num3:
  maior = num1
elif num2 >= num1 and num2 >= num3:
  maior = num2
else:
  maior = num3

print("O maior número é: ", maior)

Digite o primeiro número: 45
Digite o segundo número: 65
Digite o terceiro número: 34
O maior número é:  65.0

In [ ]:
nota = float(input("Insira a nota: "))

if nota >= 7 and nota <= 10:
  print("Aluno aprovado!")
elif nota < 7 or nota == 5:
  print("recuperação")
elif nota < 5:
  print("Reprovado")
else:
  print("nova inválida")

Insira a nota: 56
nova inválida

exercicios while e for

In [ ]:
contador = 10

while contador >= 1:
  print(contador)
  contador -= 1

print("FIM")

10
9
8
7
6
5
4
3
2
1
FIM

In [ ]:
soma = 0
numero = int(input("Digite um número: "))

while numero != 0:
  soma += numero
  numero = int(input("Digite um número: "))

print("A soma total dos números digitados é: ", soma)

Digite um número: 67
Digite um número: 54
Digite um número: 7
Digite um número: 78
Digite um número: 0
A soma total dos números digitados é:  206

In [ ]:
numero = int(input("insira seu numero: "))

for i in range (1, 11):
  print(numero * i)

insira seu numero: 54
54
108
162
216
270
324
378
432
486
540

novamente

In [ ]:
numero = int(input("Insira o número: "))

for i in range(1,11):
  print(numero * i)

Insira o número: 2
2
4
6
8
10
12
14
16
18
20

In [ ]:
soma = 0

for i in range (1,101):
  soma += i
print(soma)

5050

In [ ]:
numero = int(input("Digite um número: "))

while numero >= 0:
  print(numero)
  numero -= 1

Digite um número: 98
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
soma = 0
while numero != 0:
  numero = int(input("Digite o número: "))
  soma += numero
print("O resultado é: ", soma)

Digite o número: 5
Digite o número: 8
Digite o número: 9
Digite o número: 1
Digite o número: 0
O resultado é:  23

In [ ]:
numero = 0
while int(numero) != -1:
  numero = (input("digite um número: "))
  ultimo_digito = int(numero [-1])
  print (type (ultimo_digito))
  if ultimo_digito in [0, 2, 4, 6, 8]:
    print("o numero é par")

  else:
    print("o numero é ímpar")

digite um número: 546
<class 'int'>
o numero é par
digite um número: 545
<class 'int'>
o numero é ímpar
digite um número: -1
<class 'int'>
o numero é ímpar

In [ ]:
numero = 0
while numero != -1:
  numero = int((input("digite um número: ")))
  if numero % 7 == 0:
    print("o numero é impar")
  else:
    print("o numero é par")

digite um número: 6
o numero é par
digite um número: 7
o numero é impar
digite um número: 8
o numero é par
digite um número: 9
o numero é par
digite um número: 23
o numero é par
digite um número: -1
o numero é par

In [ ]:
numero = 12
contador = 0
while numero != 0:
  numero = int(input("insira o número: "))
  if numero > 0:
    contador += 1

  else:
    print("o número é negativo")

print("a quantidade de números positivos é: ", contador)

insira o número: 5
insira o número: 3
insira o número: 6
insira o número: 0
o número é negativo
a quantidade de números positivos é:  3

exer multiplicação

In [ ]:
resultado = 1
numeros = 3
while numeros != 1:
  numeros = int(input("Insira o numero para sua multiplicação: "))
  resultado *= numeros

print("a multiplicação dos números é: ", resultado)

Insira o numero para sua multiplicação: 54
Insira o numero para sua multiplicação: 2
Insira o numero para sua multiplicação: 1
a multiplicação dos números é:  108

exer media notas

In [ ]:
contador = 0
media = 0
nota = 0
soma = 0

while nota >= 0 and nota <= 10:
  nota = int(input("insira sua nota: "))
  if nota == -1:
    break
  soma += nota
  contador += 1


media = soma / contador

print(soma)
print(media)

insira sua nota: 5
insira sua nota: 5
insira sua nota: -1
10
5.0

exer contagem vogais

In [ ]:
#insira a palavra
#enquanto na palavra conter (a,e,i,o,u):
#conte essas letras e me diga quantas vogais tem

vogais = ("a", "e", "i", "o" ,"u")
palavra = input("insira sua palavra: ")

for vogais in palavra:
  contador += 1

print("a quantidade de vogasi é: ", contador)

insira sua palavra: março
a quantidade de vogasi é:  9

In [ ]:
vogais = str("a, e, i, o, u")
palavra = str(input("insira sua palavra: "))
print(palavra)
len(palavra)

while palavra:
  if vogais in palavra:
    print("a quantidade de vogais é: ", len(vogais))
  else:
      print("não tem")

In [ ]:

vogais = str("a, e, i, o, u")
palavra = str(input("insira sua palavra: "))

for vogais in palavra:
  print("contém")

else:
  print("não tem")

insira sua palavra: gato
contém
contém
contém
contém
não tem

In [ ]:
vogais = "aeiou"
palavra = input("Insira sua palavra: ")

contador = 0
for letra in palavra:
    if letra in vogais:
        contador += 1

print("A quantidade de vogais é:", contador)

Insira sua palavra: gato
A quantidade de vogais é: 2

exer caixa eletronico

In [ ]:
saldo = 0
print("o valor do seu saldo é: ", saldo)

while saldo == 0:
  entrada = input("escolha uma opção (depositar, sacar, ou sair): ")

  if entrada == "sair":
    break

  if entrada == "depositar":
    valor = float(input("insira o valor de depósito: "))
    saldo += valor

  elif entrada == "sacar":
    valor = float(input("Digite o valor pra sacar:" ))
    saldo -= valor

  else:
      print("saldo insuficiente")

o valor do seu saldo é:  0
escolha uma opção (depositar, sacar, ou sair): sacar
Digite o valor pra sacar:59

In [ ]:
saldo = 0

while True:
    print("Saldo atual: R$", saldo)
    opcao = input("Escolha uma opção (depositar, sacar, sair): ").lower()

    if opcao == "depositar":
        valor = float(input("Digite o valor para depositar: "))
        saldo += valor

    elif opcao == "sacar":
        valor = float(input("Digite o valor para sacar: "))
        if valor <= saldo:
            saldo -= valor
        else:
            print("Saldo insuficiente!")

    elif opcao == "sair":
        break
    else:
        print("Opção inválida!")

print("Programa encerrado. Seu saldo final é:", saldo)

Saldo atual: R$ 0
Escolha uma opção (depositar, sacar, sair): depositar
Digite o valor para depositar: 299
Saldo atual: R$ 299.0
Escolha uma opção (depositar, sacar, sair): sacar
Digite o valor para sacar: 50
Saldo atual: R$ 249.0
Escolha uma opção (depositar, sacar, sair): sair
Programa encerrado. Seu saldo final é: 249.0